celerybeat.pid
celerybeat-schedule
.git
.env
.venv/
db.sqlite3
dump.rdb
README.md
public/
sessions/
__pycache__/
.idea/
.DS_Store
*.rdb
supervisord.log
supervisord.pid
chromedriver
local_selenium.py

